@import url('../../common.css');
/* 헤더 */
body {
    width: 1500px;
    margin: 0 auto;

}
header {
    text-align: center;
}
header h1 {
    /* border: 4px solid red; */
    font-size: 8rem;
    background: #fda432;
    color: #fff;
    font-weight: 700;
    
}
header h1 span {
    /* border: 4px solid aqua; */
    font-size: 30px;
    display: block;
    margin-top: 20px;
    padding-bottom: 15px;
}
header h2.stit{
    /* border: 4px solid yellow; */
    background: #ccc;
    padding: 5px;
    font-size: 0.9em;
}



/* 왼쪽 aside */
.container {
    background: #fff;
}
.container .side-menu {
    /* border: 4px solid blue; */
    float: left;
    width: 25%;
    
}
.container .side-menu h3 {
    padding: 10px;
    background: #970008;
    color: white;
    font-weight: 700;
    font-size: 0.9em;
    
}
.container .side-menu ul {
    padding: 15px 10px;
}
.container .side-menu ul li {
    margin-bottom: 20px;
    font-size: 0.9em;
    font-weight: 700;
}
.container .side-menu ul li a {
    text-decoration: underline;
}


/* 메인 */
.main-content {
    /* border: 4px solid violet; */
    float: left;
    width: 50%;
    color: #143452;
}

.main-content .art-piece {
    padding: 20px 10px;
    background: #ddd;
}

.main-content .art-piece h4.title {
    background: #143452;
    color: #fff;
    padding: 8px;
    margin-bottom: 20px;
    font-size: 0.9em;
}

.main-content .art-piece .artist{
    font-weight: 700;
    margin-bottom: 20px;
}

.main-content .art-piece p.detail {
    font-size: 0.8em;

}


/* 오른쪽 aside */
.banner {
    /* border: 4px solid green; */
    float: left;
    width: 25%;
    padding: 20px 10px;
}
.banner h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
    font-weight: 700;
}

.banner h3 span {
    display: block;
    margin-bottom: 15px;
    text-decoration: underline;

}
.banner h3 span.all {
    color: gray;
    
}
.banner h3 span.love {
    color: #fda432;
    
}
.banner h3 strong {
    display: block;
}

.banner .link li {
    margin-bottom: 15px;
}

.banner .link li a {
    display: block;
    text-decoration: underline;
    margin-bottom: 5px;
    width: fit-content;
    font-weight: 700;
}



/* 푸터 */
footer {
    background: #143452;
    padding: 10px;
    color: #fff;
    text-align: center;
    font-weight: 700;
}
